<div class="col-lg-5">
    <div class="well bs-component">
        <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)" class="form-horizontal">
            <fieldset>
                <legend>Log In APP</legend>
                <div class="form-group">
                    <label for="inputUser" class="col-lg-3 control-label">User</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputUser" placeholder="User" name="user"
                            ngModel>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password"
                            ngModel>
                    </div>
                    <a routerLink="/users" class="col-lg-8">Join now</a>
                </div>
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary">Enter</button>
                        <button type="button" class="btn btn-success" routerLink="/dashboard">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
